@import "tailwindcss";


/* 2️⃣ القواعد العامة */
body {
  font-family: 'Cairo', sans-serif; /* Cairo يأتي من layout.tsx */
  background-color: #f9fafb;
  color: #1f2937;
  line-height: 1.6;
  direction: rtl;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cairo', sans-serif;
}
